.table-custom {
    margin: 8px;
    padding: 8px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-custom td, .table-custom th {
    border: 1px solid var(--table-td-border);
    text-align: center;
}

.table-custom th {
    font-size: 14px;
    background-color: var(--table-th-bg);
    color: var(--bargraph-tooltip-text);
}

.table-custom tr:nth-child(even) {
    background-color: var(--table-td-bg);
}

.table-custom tbody {
    margin: 8px;
    padding: 8px;
}

.table-custom caption {
    margin: 8px;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}
